<nav id="sidebarMenu" class="vertical-menu-wrapper">
  <p-listbox
    id="sidebarMenu"
    listStyleClass="vertical-menu"
    styleClass="vertical-menu__container"
    [options]="items"
    [(ngModel)]="activeItem"
    [(ngModel)]="loadingItem"
    (onChange)="selectItem($event.value)"
    [filter]="true"
    optionLabel="date"
  >
    <ng-template let-item pTemplate="item">
      <div class="vertical-menu__item-link"
        [ngClass]="{
          'vertical-menu__item-link--active': item.date === activeItem.date,
          'vertical-menu__item--loading': item.date === loadingItem
        }"
      >
      <span class="vertical-menu__count-icon">{{ countProducts(item) }}</span>
        <span class="vertical-menu__item-text">{{ item.date }}</span>
      </div>
    </ng-template>
  </p-listbox>
</nav>
